* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: hsl(192, 100%, 9%);
}

header {
    width: 100vw;
    background-image: url('/images/bg-hero-desktop.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    background-color: hsl(193, 100%, 96%);
    margin-bottom: 80px;
}

header .header-content {
    max-width: 1240px;
    padding: 20px;
    margin: 0 auto;
}

header .header-content .logo-and-tryit {
    display: flex;
    justify-content: space-between;
}
header img {
    object-fit: contain;
}

header .header-content .logo-and-tryit button {
    padding: 14px 56px;
    border: 0;
    border-radius: 30px;
    background-color: white;
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.2);
    color: hsl(192, 100%, 9%);
    font-family: Poppins, sans-serif;
    font-weight: 600;
}

header .header-content .header-main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 40px 0px;
}

header .header-content .header-main .header-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
}

header .header-content .header-main .header-info h1 {
    font-size: 42px;
    margin-bottom: 20px;
}

header .header-content .header-main .header-info p {
    line-height: 28px;
    color: hsl(192, 100%, 9%);
    margin-bottom: 20px;
}

header .header-content .header-main .header-info button {
    padding: 14px 70px;
    border: 0;
    border-radius: 30px;
    background-color:hsl(322, 100%, 66%);
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.2);
    color:white;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    align-self: flex-start;
}

header .header-content .header-main img {
    max-width: 50%;
}

main {
    max-width: 1140px;
    padding: 20px;
    margin: 0 auto;
}

section {
    display: flex;
    height: 400px;
    padding: 20px 20px 20px 40px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
    justify-content: space-around;
}

section:last-child {
    margin-bottom: 0px;
}

section img {
    max-width: 30%;
    object-fit: contain;
}

section .section-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 40%;
}

section .section-text p {
    margin-top: 20px;
    color: hsl(208, 11%, 55%);
    font-size: 16px;
    line-height: 24px;
}

.ready-to-build {
    display: flex;
    max-width: 600px;
    flex-direction: column;
    margin: 0 auto;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
    background-color: white;

    position: relative;
    z-index: 3;
    transform: translateY(80px) ;
}

.ready-to-build button {
    padding: 16px 70px;
    border: 0;
    border-radius: 30px;
    background-color:hsl(322, 100%, 66%);
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.2);
    color:white;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    max-width: max-content;
    margin-top: 20px;
}

footer {
    width: 100vw;
    background-color: hsl(192, 100%, 9%);
    display: flex;
    flex-direction: column;
    font-size: 14px;
    position: relative;
    z-index: 2;
}

footer .footer-logo {
    max-width: 1100px;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    padding-top: 150px;
    margin-bottom: 20px;
}

footer .footer-logo img {
    max-width: 50%;
}

footer .footer-content {
    max-width: 1100px;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: white;
}

footer .footer-content .huddle-info {
    max-width: 320px;
    display: grid;
    grid-template-columns: 20px 1fr;
    gap: 20px;
    align-items: center;
}

footer .footer-content .huddle-info img:first-child {
    margin-top: 4px;
    align-self: flex-start;
}

footer nav {
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 100px;
}

footer nav a {
    text-decoration: none;
    color: white;
}

footer nav a:hover {
    color: hsl(300, 69%, 71%);
}

footer .footer-content .social-midia {
    display: flex;
    justify-content: flex-end;
}

footer .footer-content .social-midia .midia {
    margin-left: 16px;
    border: 1px solid white;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
}

footer .footer-content .social-midia .midia i {
    font-size: 24px;
}

footer .footer-content .social-midia .midia:hover {
    color: hsl(300, 69%, 71%);
    border-color: hsl(300, 69%, 71%);
}

footer .footer-copyright {
    padding: 0 80px;
    width: 100%;
    margin: 0 auto;
    text-align: right;
    color: white;
    font-size: 12px;
}

footer .footer-attribution .attribution { 
    font-size: 11px; 
    text-align: center;
    color: white; 
}

footer .footer-attribution .attribution a { 
    color: hsl(300, 69%, 71%);
    text-decoration: none; 
}

footer .footer-attribution .attribution a:hover {
    opacity: 0.7;
}